.video-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.video-container {
  position: relative;
  background: white;
  width: 80%;
  height: 80%;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.video-container .icon {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 3rem;
}

.video {
  width: 48rem;
}
